@import "app";
@import "variables";

body {
    height: 100vh;
}

.container h1 {
    margin-bottom: 1.5em;
}
h2 {
    margin: 1.5em 0 1em 0;
}
h3 {
    margin: 1em 0;
}

.card-body a:not(.btn) {
    color: $cyan;
    text-decoration: none;
}

.page-title {
    margin-bottom: 1.3em; 
}

#TableOfContents ol {
    list-style-position: inside;
    padding: 0;
}

#TableOfContents ol li {
    margin-bottom: 0.5em;
    color: $cyan;
}

.language-separator {
    margin: 0 1em;
}

pre {
    padding: 2em;
    border-radius: 6px;
}

.card-body img {
    max-width: 100%;
}

.card-body img[src$='#center'] {
    display: block;
    margin: 1.0rem auto;
    height: auto;
}

@media (max-width: 575.98px) {
    .language-separator {
        display: none;
    }
    .page-date {
        margin-bottom: 1em;
    }
    .translations {
        display: block;
    }
}

.categories {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.categories li {
    list-style: none;
    padding: 1em 1.3em;
    margin: 0 1em 1em 0;
    background: rgb(248, 248, 248);
    border-radius: 8px;
}

table {
    table-layout:fixed;
    width:100%;
    text-align: center;
    margin: 0 2em 2em 0;
}

thead {
    background-color: $gray-700;
    color: $white;
}

td {
    border: solid 1px $gray-200;
    border-left: 0;
    border-right: 0;
    word-wrap: break-word;
}

p {
  font-size: 15px;
}

blockquote {
    margin-left: 30px;
    padding-left: 10px;
    border-left: medium solid $gray-500;
}

.feature-image {
    max-height: 500px;
    width: auto;
 }
