<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="author" content="Leticia Portella">

<meta property="og:title" content="
{{ if .IsHome }}
    {{ default .Site.Title }}
{{ else }}
    {{ .Title }}
{{ end }}
">
<meta property="og:image" content="
{{ if .IsHome }}
    {{ .Site.Params.baseURL }}/assets/img/posts/{{ .Param "inside-img" }}_thumb@2x.jpg
{{ else }}
    {{ .Site.Params.baseURL }}/assets/img/lights.jpg
{{ end }}
">
<meta property="og:description" content="
{{ if .IsHome }}
    {{ default .Site.Params.description }}
{{ else }}
    {{ .Summary }}
{{ end }}
" />


<!--SEO optimization-->
<meta name="description" content="{{ with .Description }}
  {{ . }}
  {{ else }}
  {{if .IsPage}}{{ .Summary }}
  {{ else }}{{ with .Site.Params.description }}
  {{ . }}
  {{ end }}{{ end }}{{ end }}">

{{ if and (eq .Kind "taxonomy") (eq .Type "categories")}}
<meta name="robots" content="noindex, follow"/>
{{ else }}
<meta name="robots" content="index, follow"/>
{{ end }}

<title>{{ default .Site.Title }}
{{ if not .IsHome }} - {{ .Title }}{{ end }}
</title>

{{ if or (eq .Kind "home") (eq .Kind "page")}}
{{ if isset .Params "canonical" }}
<link rel="canonical" href="{{ .Params.Canonical}}" />
{{ else }}
<link rel="canonical" href="{{ .Permalink}}" />
{{ end }}
{{ end }}

<!--end-->

{{ $style := resources.Get "scss/main.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
<link href="{{ $style.RelPermalink }}" rel="stylesheet">
