<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="author" content="Leticia Portella">

<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@leleportella" />
<meta name="twitter:creator" content="@leleportella" />
<meta name="twitter:image" content="{{ if .IsHome }}{{ .Site.BaseURL }}/assets/img/author/lights.jpg{{ else }}{{ .Site.BaseURL }}/assets/img/cover/{{ .Param "featured-img" }}_thumb.jpg{{ end }}" />

<meta property="twitter:description" content="
{{ if .IsHome }}
    {{.Site.Params.Description}}
{{ else if .Param "page-description" }}
    {{ .Param "page-description" }}
{{ else if .Summary }}
    {{.Summary}}
{{ else }}
    {{.Title}}
{{ end }}
" />

<!-- OG -->
<meta property="og:title" content="
{{ if .IsHome }}
    {{ default .Site.Title }} - {{ .Site.Params.MetaDescription }}
{{ else }}
    {{ .Title }}
{{ end }}
">
<meta name="og:image" content="{{ if .IsHome }}{{ .Site.BaseURL }}/assets/img/author/lights.jpg{{ else }}{{ .Site.BaseURL }}/assets/img/cover/{{ .Param "featured-img" }}_thumb.jpg{{ end }}" />

<meta property="og:description" content="
{{ if .IsHome }}
    {{.Site.Params.Description}}
{{ else if .Param "page-description" }}
    {{ .Param "page-description" }}
{{ else if .Summary }}
    {{.Summary}}
{{ else }}
    {{.Title}}
{{ end }}
" />
<meta property="og:url" content="{{ .Permalink }}" />


<!--SEO optimization-->

<link rel="apple-touch-icon" href="/assets/favico/apple-touch-icon.png">
<link rel="icon" type="image/png" href="/assets/favico/android-chrome-512x512.png" sizes="512x512">
<link rel="icon" type="image/png" href="/assets/favico/android-chrome-192x5192.png" sizes="192x192">
<link rel="icon" type="image/png" href="/assets/favico/favicon-32x32.png" sizes="32x32"/>
<link rel="icon" type="image/png" href="/assets/favico/favicon-16x16.png" sizes="16x16"/>

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
<meta name="description" content="
{{ if .IsHome }}
    {{ .Site.Params.MetaDescription }}
{{ else }}
    {{ .Summary }}
{{ end }}
">

{{ if and (eq .Kind "taxonomy") (eq .Type "categories")}}
<meta name="robots" content="noindex, follow"/>
{{ else }}
<meta name="robots" content="index, follow"/>
{{ end }}

<title>
{{ if .IsHome }}
    {{ .Site.Title }}
{{ else }}
    {{ .Title }}
{{ end }}
</title>

{{ if or (eq .Kind "home") (eq .Kind "page")}}
{{ if isset .Params "canonical" }}
<link rel="canonical" href="{{ .Params.Canonical}}" />
{{ else }}
<link rel="canonical" href="{{ .Permalink}}" />
{{ end }}
{{ end }}

<!--end-->

{{ $style := resources.Get "scss/main.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
<link href="{{ $style.RelPermalink }}" rel="stylesheet">
