<article class="card mb-4">
    <header class="card-header">
        <div class="card-meta">
            <a href="#"><time class="timeago" datetime="{{ dateFormat "2006-01-02 15:04" .Date }}">{{ dateFormat "02 January 2006" .Date }}</time>
        </div>
        <a href="{{ .RelPermalink }}"><h4 class="card-title">{{ .Title }}</h4></a>
    </header>
    <a href="{{ .RelPermalink }}"><img class="card-img" src="/assets/img/posts/{{ .Param "featured-img" }}_thumb.jpg" alt="" /></a>
    <div class="card-body">
        <p class="card-text">{{ .Summary }}</p>
    </div>
</article>