{{ define "header" }}
{{ partial "header.html" . }}
{{ end }}

{{ define "main" }}

{{ if eq .Section "wiki" }}
  <div>
    {{ partial "wiki/list.html" . }}
  </div>
{{ else }}
  <h1>{{ .Page.Name | title }}</h1>
  {{ $categories := where .Pages ".IsPage" false}}
  {{ if gt (len $categories) 0 }}
  <ul class="{{ if in "categories tags" .Section }}categories{{ end }}">
  {{ range where .Pages ".IsPage" false }}
      <li><a href="{{ .RelPermalink }}">{{ .Name }}</a></li>
  {{ end }}
  </ul>
  {{ end }}
  
  {{ if .RegularPages }}
  <div class="row">
  
      {{ $n := 3 }}
      {{ $.Scratch.Set "i" -3 }}
      <div class="col-md-4">
        {{ range $index, $page := (where .RegularPages "Type" "in" "posts") }}
        {{ if eq $index (add $n ($.Scratch.Get "i")) }}
        {{ $.Scratch.Add "i" $n }}
        {{ partial "list-article.html" . }}
        {{ end }}
        {{ end }}
      </div>
    
      {{ $.Scratch.Set "i" -2 }}
      <div class="col-md-4">
        {{ range $index, $page := (where .RegularPages "Type" "in" "posts") }}
        {{ if eq $index (add $n ($.Scratch.Get "i")) }}
        {{ $.Scratch.Add "i" $n }}
        {{ partial "list-article.html" . }}
        {{ end }}
        {{ end }}
      </div>
    
      {{ $.Scratch.Set "i" -1 }}
      <div class="col-md-4">
        {{ range $index, $page := (where .RegularPages "Type" "in" "posts") }}
        {{ if eq $index (add $n ($.Scratch.Get "i")) }}
        {{ $.Scratch.Add "i" $n }}
        {{ partial "list-article.html" . }}
        {{ end }}
        {{ end }}
      </div>
  </div>
  {{ end}}
{{end}}

{{ end}}
