{{ define "header" }}
{{ partial "header.html" . }}
{{ end }}

{{ define "main" }}
  {{ if or (eq .Page.Type "posts" ) (eq .Page.Type "wiki" )}}
  <div class="row">
    <div class="col-md-9">
      {{ partial "post/article.html" . }}
    </div>
    <div class="col-md-3 ml-auto">
      {{ partial "post/sidebar.html" . }}
    </div>
  </div>
  {{ else }}
  <div class="row justify-content-md-center">
    <div class="col-md-9">
      {{ partial "post/article.html" . }}
    </div>
  </div>
  {{ end }}
{{ end }}
