{{ define "header" }}
{{ partial "header.html" . }}
{{ end }}

{{ define "main" }}
  {{ if in (slice "posts" "wiki" "travel") .Page.Type }}
  <div class="row">
    <div class="col-md-9">
      {{ partial "post/article.html" . }}
    </div>
    <div class="col-md-3 ml-auto">
      {{ partial "post/sidebar.html" . }}
    </div>
  </div>
  {{ else }}
  <div class="row justify-content-md-center">
    <div class="col-md-9">
      {{ partial "post/article.html" . }}
    </div>
  </div>
  {{ end }}
{{ end }}
