<article class="card mb-4">
  <header class="card-header text-center">
    <div class="card-meta page-date">
      {{ if eq .Page.Type "posts" }}

        {{ if eq .Language.Lang "pt-br"}}
          <time class="post-date" datetime="{{ .Date }}">
            {{ .Date.Day }} {{ index $.Site.Data.meses (printf "%d" .Date.Month) }} {{ .Date.Year }}
          </time>
        {{ else }}
          <time class="post-date" datetime="{{ dateFormat "2006-01-02 15:04" .Date }}">
            {{ dateFormat "02 January 2006" .Date }}
          </time>
        {{ end }}

        {{ if .Translations }}
          {{ range  .Translations }}
            <span class="language-separator">●</span>
            <a hreflang="{{ .Language.Lang }}" href="{{ .RelPermalink }}" class="translations">{{ .Param "flag" }} {{ .Param "readin" }} {{ .Language.LanguageName }}</a>
          {{ end }}
        {{ end }}
      {{ end }}
    </div>
    <h1 class="card-title page-title">{{ .Title }}</h1>
  </header>

  {{ if .Param "remove-inside-img" }}
    <!-- dont render any img--> 
  {{else}}
    <center>
    {{ if .Param "inside-img" }}
      <img class="card-img" src="/assets/img/posts/{{ .Param "inside-img" }}_thumb@2x.jpg" alt="{{ .Param "img-description" }}" style="max-height: 700px; max-width: 800px;"/>
    {{else}}
      <img class="card-img" src="/assets/img/posts/{{ .Param "featured-img" }}_thumb@2x.jpg" alt="{{ .Param "img-description" }}" style="max-height: 700px; max-width: 800px;"/>
    {{end}}
    </center>
  {{end}}
  

  <div class="card-body">
    {{ .Content }}

    ❤ 
    </br>
    {{ .Language.Params.Cheers }}
    </br>
    Leticia
    <hr />
    <h3>Comments</h3>
    {{ partial "comments.html" . }}
  </div>
</article>