<article class="card mb-4">
  <header class="card-header text-center">
    <div class="card-meta page-date">
      {{ if eq .Page.Type "posts" }}
      <a href="#"><time class="timeago"
        datetime="{{ dateFormat "2006-01-02 15:04" .Date }}">{{ dateFormat "02 January 2006" .Date }}</time></a> 
        {{ if .Translations }}
          <span class="language-separator">●</span>
          {{ range first 1 .Translations }}
            <a hreflang="{{ .Language.Lang }}" href="{{ .RelPermalink }}" class="translations">{{ .Param "flag" }} {{ .Param "readin" }} {{ .Language.LanguageName }}</a>
          {{ end }}
        {{ end }}
      {{ end }}
    </div>
    <h1 class="card-title page-title">{{ .Title }}</h1>
  </header>

  {{ if .Param "inside-img" }}
    <img class="card-img" src="/assets/img/posts/{{ .Param "inside-img" }}_thumb@2x.jpg" alt="" />
  {{else}}
    <img class="card-img" src="/assets/img/posts/{{ .Param "featured-img" }}_thumb@2x.jpg" alt="" />
  {{end}}

  <div class="card-body">
    {{ .Content }}
    <hr />
    <h3>Comments</h3>
    <div class="media mb-3">
      <div class="text-center">
        <img class="mr-3 rounded-circle" src="img/avatars/3.png" alt="Lucy" width="100" height="100">
        <h6 class="mt-1 mb-0 mr-3">Lucy</h6>
      </div>
      <div class="media-body">
        <p class="mt-3 mb-2">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
          sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc
          ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
        <time class="timeago text-muted" datetime="2019-12-03 20:00">3 december 2019</time>
        <a class="float-right" href="#"><span class="fa fa-reply"></span> Reply</a>

        <div class="media mt-3">
          <div class="pr-3 text-center">
            <img class="mr-3 rounded-circle" src="img/avatars/2.png" alt="John" width="100" height="100">
            <h6 class="mt-1 mb-0 mr-3">John</h6>
          </div>
          <div class="media-body">
            <p class="mt-3 mb-2">Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in
              vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia
              congue felis in faucibus.</p>
            <time class="timeago text-muted" datetime="2019-12-14 19:00">14 december 2019</time>
            <a class="float-right" href="#"><span class="fa fa-reply"></span> Reply</a>
          </div>
        </div>
      </div>
    </div>

    <div class="media mb-3">
      <div class="text-center">
        <img class="mr-3 rounded-circle" src="img/avatars/1.png" alt="Kim" width="100" height="100">
        <h6 class="mt-1 mb-0 mr-3">Kim</h6>
      </div>
      <div class="media-body">
        <p class="mt-3 mb-2">Vestibulum volutpat pretium libero. Cras id dui. Aenean ut eros et nisl sagittis
          vestibulum. Nullam nulla eros, ultricies sit amet, nonummy id, imperdiet feugiat, pede. Sed lectus. Donec
          mollis hendrerit risus. Phasellus nec sem in justo pellentesque facilisis.</p>
        <time class="timeago text-muted" datetime="2019-11-20 20:00">20 november 2019</time>
        <a class="float-right" href="#"><span class="fa fa-reply"></span> Reply</a>
      </div>
    </div>

    <div class="media mb-3">
      <div class="text-center">
        <img class="mr-3 rounded-circle" src="img/avatars/4.png" alt="Paula" width="100" height="100">
        <h6 class="mt-1 mb-0 mr-3">Paula</h6>
      </div>
      <div class="media-body">
        <p class="mt-3 mb-2">Nam pretium turpis et arcu. Duis arcu tortor, suscipit eget, imperdiet nec, imperdiet
          iaculis, ipsum. Sed aliquam ultrices mauris. Integer ante arcu, accumsan a, consectetuer eget, posuere ut,
          mauris. Praesent adipiscing. Phasellus ullamcorper ipsum rutrum nunc. Nunc nonummy metus.</p>
        <time class="timeago text-muted" datetime="2019-11-05 20:00">5 november 2019</time>
        <a class="float-right" href="#"><span class="fa fa-reply"></span> Reply</a>
      </div>
    </div>

    <div class="mt-5">
      <h5>Write a response</h5>
      <div class="row">
        <div class="col-md-6">
          <input type="text" class="form-control" id="name" name="name" placeholder="Your name">
        </div>
        <div class="col-md-6">
          <input type="email" class="form-control" id="email" name="email" placeholder="Your email">
        </div>
      </div>
      <textarea class="form-control mt-3" rows="3" placeholder="Write a response.."></textarea>
      <a href="#" class="btn btn-success mt-3">Publish</a>
    </div>

  </div>
</article>