<aside class="sidebar">
  <div class="card mb-4">
    <div class="card-body">
      <h4 class="card-title">{{ .Language.Params.About }}</h4>
      <p class="card-text">{{ .Language.Params.About_Text }}</p>
    </div>
  </div><!-- /.card -->
</aside>

<aside class="sidebar sidebar-sticky">
  {{ if ge (len .TableOfContents) 33 }}
  <div class="card mb-4">
    <div class="card-body">
      <h4 class="card-title">{{ .Language.Params.Table_Of_Contents }}</h4>
      {{ .TableOfContents }}
    </div>
  </div><!-- /.card -->
  {{ end }}
</aside>

